div.pf-c-page {
    grid-template-columns: max-content 1fr;
    grid-template-areas:
        "header header"
        "nav main";
}

div.pf_c_page__main {
    display: flex;
    flex-wrap: wrap;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
}